/** A constants SCSS partial for storing common variables and mixins */
@import url("https://fonts.googleapis.com/css?family=Roboto");
.map-description-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: left;
  justify-content: center;
  flex: 0 0 auto; }
  .map-description-container .inset-header {
    font-size: 16px;
    color: #000000;
    font-family: "HelveticaNeue", "Helvetica", sans-serif;
    font-weight: bold;
    margin-bottom: 3px; }
    @media screen and (min-width: 480px) {
      .map-description-container .inset-header {
        font-size: 18px; } }
    @media screen and (min-width: 768px) {
      .map-description-container .inset-header {
        font-size: 22px; } }
    @media screen and (min-width: 1024px) {
      .map-description-container .inset-header {
        font-size: 28px; } }
  .map-description-container .inset-subheader {
    font-size: 12px;
    color: #666666;
    font-family: "HelveticaNeue", "Helvetica", sans-serif;
    margin-bottom: 10px; }
    @media screen and (min-width: 480px) {
      .map-description-container .inset-subheader {
        font-size: 14px; } }
    @media screen and (min-width: 768px) {
      .map-description-container .inset-subheader {
        font-size: 18px; } }
    @media screen and (min-width: 1024px) {
      .map-description-container .inset-subheader {
        font-size: 21px; } }
  .map-description-container .text {
    color: #000000;
    font: 14px "HelveticaNeue", "Helvetica", sans-serif;
    margin-bottom: 10px; }
  .map-description-container .state-name {
    font-size: 16px;
    color: #000000;
    font-family: "HelveticaNeue", "Helvetica", sans-serif;
    font-weight: bold; }
    @media screen and (min-width: 480px) {
      .map-description-container .state-name {
        font-size: 18px; } }
    @media screen and (min-width: 768px) {
      .map-description-container .state-name {
        font-size: 22px; } }
    @media screen and (min-width: 1024px) {
      .map-description-container .state-name {
        font-size: 28px; } }

@media only screen and (max-width: 768px) {
  .map-description-container {
    width: 95%; } }

.description-transition-appear {
  opacity: 0; }

.description-transition-appear.description-transition-appear-active {
  opacity: 1;
  transition: opacity 2s ease-in 1s; }
