.map-container {
  width: 70%;
  display: flex;
  flex-direction: column; }
  .map-container .map {
    flex: 0 1 auto; }
    .map-container .map .states {
      stroke: #FFFFFF;
      stroke-width: 0.25px; }
    .map-container .map .states:hover {
      opacity: 0.75; }
    .map-container .map .states.raw:hover {
      opacity: 0.5; }
    .map-container .map .state-label {
      font-family: "HelveticaNeue", sans-serif;
      font-size: 8px; }
      @media screen and (min-width: 480px) {
        .map-container .map .state-label {
          font-size: 10px; } }
      @media screen and (min-width: 768px) {
        .map-container .map .state-label {
          font-size: 14px; } }
      @media screen and (min-width: 1024px) {
        .map-container .map .state-label {
          font-size: 14px; } }

.state-transition-0-appear {
  fill-opacity: 0.01; }

.state-transition-0-appear.state-transition-0-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 0ms; }

.state-transition-1-appear {
  fill-opacity: 0.01; }

.state-transition-1-appear.state-transition-1-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 50ms; }

.state-transition-2-appear {
  fill-opacity: 0.01; }

.state-transition-2-appear.state-transition-2-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 100ms; }

.state-transition-3-appear {
  fill-opacity: 0.01; }

.state-transition-3-appear.state-transition-3-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 150ms; }

.state-transition-4-appear {
  fill-opacity: 0.01; }

.state-transition-4-appear.state-transition-4-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 200ms; }

.state-transition-5-appear {
  fill-opacity: 0.01; }

.state-transition-5-appear.state-transition-5-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 250ms; }

.state-transition-6-appear {
  fill-opacity: 0.01; }

.state-transition-6-appear.state-transition-6-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 300ms; }

.state-transition-7-appear {
  fill-opacity: 0.01; }

.state-transition-7-appear.state-transition-7-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 350ms; }

.state-transition-8-appear {
  fill-opacity: 0.01; }

.state-transition-8-appear.state-transition-8-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 400ms; }

.state-transition-9-appear {
  fill-opacity: 0.01; }

.state-transition-9-appear.state-transition-9-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 450ms; }

.state-transition-10-appear {
  fill-opacity: 0.01; }

.state-transition-10-appear.state-transition-10-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 500ms; }

.state-transition-11-appear {
  fill-opacity: 0.01; }

.state-transition-11-appear.state-transition-11-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 550ms; }

.state-transition-12-appear {
  fill-opacity: 0.01; }

.state-transition-12-appear.state-transition-12-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 600ms; }

.state-transition-13-appear {
  fill-opacity: 0.01; }

.state-transition-13-appear.state-transition-13-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 650ms; }

.state-transition-14-appear {
  fill-opacity: 0.01; }

.state-transition-14-appear.state-transition-14-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 700ms; }

.state-transition-15-appear {
  fill-opacity: 0.01; }

.state-transition-15-appear.state-transition-15-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 750ms; }

.state-transition-16-appear {
  fill-opacity: 0.01; }

.state-transition-16-appear.state-transition-16-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 800ms; }

.state-transition-17-appear {
  fill-opacity: 0.01; }

.state-transition-17-appear.state-transition-17-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 850ms; }

.state-transition-18-appear {
  fill-opacity: 0.01; }

.state-transition-18-appear.state-transition-18-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 900ms; }

.state-transition-19-appear {
  fill-opacity: 0.01; }

.state-transition-19-appear.state-transition-19-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 950ms; }

.state-transition-20-appear {
  fill-opacity: 0.01; }

.state-transition-20-appear.state-transition-20-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1000ms; }

.state-transition-21-appear {
  fill-opacity: 0.01; }

.state-transition-21-appear.state-transition-21-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1050ms; }

.state-transition-22-appear {
  fill-opacity: 0.01; }

.state-transition-22-appear.state-transition-22-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1100ms; }

.state-transition-23-appear {
  fill-opacity: 0.01; }

.state-transition-23-appear.state-transition-23-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1150ms; }

.state-transition-24-appear {
  fill-opacity: 0.01; }

.state-transition-24-appear.state-transition-24-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1200ms; }

.state-transition-25-appear {
  fill-opacity: 0.01; }

.state-transition-25-appear.state-transition-25-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1250ms; }

.state-transition-26-appear {
  fill-opacity: 0.01; }

.state-transition-26-appear.state-transition-26-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1300ms; }

.state-transition-27-appear {
  fill-opacity: 0.01; }

.state-transition-27-appear.state-transition-27-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1350ms; }

.state-transition-28-appear {
  fill-opacity: 0.01; }

.state-transition-28-appear.state-transition-28-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1400ms; }

.state-transition-29-appear {
  fill-opacity: 0.01; }

.state-transition-29-appear.state-transition-29-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1450ms; }

.state-transition-30-appear {
  fill-opacity: 0.01; }

.state-transition-30-appear.state-transition-30-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1500ms; }

.state-transition-31-appear {
  fill-opacity: 0.01; }

.state-transition-31-appear.state-transition-31-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1550ms; }

.state-transition-32-appear {
  fill-opacity: 0.01; }

.state-transition-32-appear.state-transition-32-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1600ms; }

.state-transition-33-appear {
  fill-opacity: 0.01; }

.state-transition-33-appear.state-transition-33-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1650ms; }

.state-transition-34-appear {
  fill-opacity: 0.01; }

.state-transition-34-appear.state-transition-34-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1700ms; }

.state-transition-35-appear {
  fill-opacity: 0.01; }

.state-transition-35-appear.state-transition-35-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1750ms; }

.state-transition-36-appear {
  fill-opacity: 0.01; }

.state-transition-36-appear.state-transition-36-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1800ms; }

.state-transition-37-appear {
  fill-opacity: 0.01; }

.state-transition-37-appear.state-transition-37-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1850ms; }

.state-transition-38-appear {
  fill-opacity: 0.01; }

.state-transition-38-appear.state-transition-38-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1900ms; }

.state-transition-39-appear {
  fill-opacity: 0.01; }

.state-transition-39-appear.state-transition-39-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 1950ms; }

.state-transition-40-appear {
  fill-opacity: 0.01; }

.state-transition-40-appear.state-transition-40-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2000ms; }

.state-transition-41-appear {
  fill-opacity: 0.01; }

.state-transition-41-appear.state-transition-41-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2050ms; }

.state-transition-42-appear {
  fill-opacity: 0.01; }

.state-transition-42-appear.state-transition-42-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2100ms; }

.state-transition-43-appear {
  fill-opacity: 0.01; }

.state-transition-43-appear.state-transition-43-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2150ms; }

.state-transition-44-appear {
  fill-opacity: 0.01; }

.state-transition-44-appear.state-transition-44-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2200ms; }

.state-transition-45-appear {
  fill-opacity: 0.01; }

.state-transition-45-appear.state-transition-45-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2250ms; }

.state-transition-46-appear {
  fill-opacity: 0.01; }

.state-transition-46-appear.state-transition-46-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2300ms; }

.state-transition-47-appear {
  fill-opacity: 0.01; }

.state-transition-47-appear.state-transition-47-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2350ms; }

.state-transition-48-appear {
  fill-opacity: 0.01; }

.state-transition-48-appear.state-transition-48-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2400ms; }

.state-transition-49-appear {
  fill-opacity: 0.01; }

.state-transition-49-appear.state-transition-49-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2450ms; }

.state-transition-50-appear {
  fill-opacity: 0.01; }

.state-transition-50-appear.state-transition-50-appear-active {
  fill-opacity: 1;
  transition: fill-opacity 200ms ease-in 2500ms; }
