/** A constants SCSS partial for storing common variables and mixins */
@import url('https://fonts.googleapis.com/css?family=Roboto');
.chevron {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}
@media screen and (min-width: 480px) {
  .chevron {
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  .chevron {
    height: 40px;
    width: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .chevron {
    height: 40px;
    width: 40px;
  }
}
.chevron:hover {
  cursor: pointer;
}
.chevron:hover svg {
  fill-opacity: 0.5;
}
.chevron svg {
  height: 30px;
  width: 30px;
}
@media screen and (min-width: 480px) {
  .chevron svg {
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  .chevron svg {
    height: 40px;
    width: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .chevron svg {
    height: 40px;
    width: 40px;
  }
}
.chevron .slide-title {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #6c7680;
}
@media screen and (min-width: 480px) {
  .chevron .slide-title {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .chevron .slide-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .chevron .slide-title {
    font-size: 21px;
  }
}
