@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import './_constants.scss';

$sourcecode: 'Source Code Pro', monospace;
$home-font-sizes: (
  null: 16px,
  mobile: 18px,
  tablet: 22px,
  desktop: 28px
);

$large-home-font-sizes: (
  null: 16px,
  mobile: 22px,
  tablet: 28px,
  desktop: 36px
);

/** Use a SCSS loop to create the transition classes to be used
by the react-transition-group add-on */
@for $i from 0 through 5 {
  .home-transition-#{$i}-appear {
    opacity: 0.01;
  }

  .home-transition-#{$i}-appear.home-transition-#{$i}-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in $i * 2s;
  }
}

.home-text {
  @include font-size($home-font-sizes);
  font-family: $sourcecode, sans-serif;
}

.home-text-large {
  @include font-size($large-home-font-sizes);
  font-family: $sourcecode, sans-serif;
}
