@import './_constants.scss';

.line-description-transition-appear {
  opacity: 0;
}

.line-description-transition-appear.line-description-transition-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.line-description-container {
  @include flex-row;
  text-align: left;

  .line-description-title {
    @include flex-column;
    height: 100%;
    min-width: 30%;

    .title {
      @include font-size($font-sizes);
      color: $black;
      font-family: $helvetica;
      font-weight: bold;
      margin-bottom: 3px;
    }

    .subtitle {
      @include font-size($subheader-font-sizes);
      color: #666666;
      font-family: $helvetica;
    }
  }

  .text {
    color: $black;
    font: 14px $helvetica;
    margin-bottom: 10px;
  }
}
