@import './_constants.scss';

.line-description-transition-appear {
  opacity: 0;
}

.line-description-transition-appear.line-description-transition-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.line-description-container {
  @include flex-column;
  text-align: left;

  @media (min-width: map-get($breakpoints, 'tablet')) {
    flex-direction: row;
  }

  .line-description-title {
    @include flex-column;
    height: 100%;
    min-width: 30%;
    margin-bottom: 10px;

    @media (min-width: map-get($breakpoints, 'tablet')) {
      margin-bottom: 0;
      margin-right: 10px;
    }

    .title {
      @include font-size($font-sizes);
      color: $black;
      font-family: $helvetica;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 5px;
    }

    .subtitle {
      @include font-size($subheader-font-sizes);
      color: #666666;
      font-family: $helvetica;
      margin: 0;
    }
  }

  .text {
    color: $black;
    font-family: $helvetica;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
