@import './_constants.scss';

.map-container {
  @include flex-column;
  justify-content: center;
  flex-basis: 75%;
  margin-bottom: 10px;

  @media (min-width: map-get($breakpoints, 'tablet')) {
    margin-bottom: 0;
  }

  .map {
    overflow: visible;
    cursor: grab;

    .state-container {
      &:hover {
        .states.raw {
          opacity: 0.5;
        }
      }
    }

    .states {
      stroke: #ffffff;
      stroke-width: 0.25px;

      &:hover {
        fill-opacity: 0.75;
      }

      &-bg {
        stroke: #666666;
        stroke-width: 0.5;
      }
    }

    .state-label {
      @include font-size($label-font-sizes);
      font-family: $helvetica;
    }
  }
}

@media only screen and (max-width: 768px) {
  .map-container {
    width: 100%;
  }
}

@for $i from 0 through 50 {
  .state-transition-#{$i}-appear,
  .state-transition-#{$i}-enter {
    fill-opacity: 0.01;
    stroke-opacity: 0.01;
  }

  .state-transition-#{$i}-exit {
    fill-opacity: 1;
    stroke-opacity: 1;
  }

  .state-transition-#{$i}-appear.state-transition-#{$i}-appear-active,
  .state-transition-#{$i}-enter.state-transition-#{$i}-enter-active {
    fill-opacity: 1;
    stroke-opacity: 1;
    transition: fill-opacity $i * 50ms ease-in 100ms,
      stroke-opacity $i * 50ms ease-in 100ms;
  }

  .state-transition-#{$i}-exit.state-transition-#{$i}-exit-active {
    fill-opacity: 0.01;
    stroke-opacity: 0.01;
    transition: fill-opacity $i * 50ms ease-in 100ms,
      stroke-opacity $i * 50ms ease-in 100ms;
  }
}

.legend-title {
  font: 700 12px $helvetica;
}

.legend-label {
  font: 10px $helvetica;
}
