@import './_constants.scss';

.map-description-container {
    @include flex-column;
    width: 30%;
    text-align: left;
    justify-content: center;
    flex: 0 0 auto;

    .inset-header {
        @include font-size($font-sizes);
        color: $black;
        font-family: $helvetica;
        font-weight: bold;
        margin-bottom: 3px;
    }

    .inset-subheader {
        @include font-size($subheader-font-sizes);
        color: #666666;
        font-family: $helvetica;
        margin-bottom: 10px;
    }

    .text {
        color: $black;
        font: 14px $helvetica;
        margin-bottom: 10px;
    }

    .state-name {
        @include font-size($font-sizes);
        color: $black;
        font-family: $helvetica;
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) {

    .map-description-container {
        width: 95%;
    }
}

.description-transition-appear {
    opacity: 0;
}

.description-transition-appear.description-transition-appear-active {
    opacity: 1;
    transition: opacity 2s ease-in 1s;
}