.chevron-link.horizontal {
    min-width: 5%;
}

.chevron-link.vertical {
    min-height: 5%;
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;

    svg:hover {
        fill-opacity: 0.5;
    }
}

