@import '../../../stylesheets/_constants';

.chevron-link.horizontal {
    min-width: 5%;
}

.chevron-link.vertical {
    min-height: 5%;
}

.chevron {
    @include flex-row;
    border: 1px solid red;
    justify-content: center;
    align-items: center;

    svg:hover {
        fill-opacity: 0.5;
    }
}

