@import '../../../stylesheets/_constants';

.chevron-link {
    text-decoration: none;
}

.chevron-link.horizontal {
   min-width: 5%;
    flex: 0 0 auto;
}

.chevron-link.vertical {
    min-height: 5%;
    flex: 0 0 auto;
}

.chevron {
    @include flex-row;
    justify-content: center;
    align-items: center;

    &:hover {

        svg {
            fill-opacity: 0.5;
        }

        div {
            opacity: 0.5;
        }
    }

    .slide-title {
        @include font-size($subheader-font-sizes);
        font-family: $roboto;
        color: #6C7680;
        text-decoration: none;
    }

}

