/** A constants SCSS partial for storing common variables and mixins */
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0; }

#root {
  height: 100%;
  width: 100%; }

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center; }
  .layout .page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%; }
    .layout .page-container .page-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 95%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%; }

.percapita,
.raw {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 900px) {
    .percapita .map-container,
    .raw .map-container {
      width: 100%; } }

.chart-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 900px) {
  .percapita,
  .raw {
    display: flex;
    flex-direction: column; } }
