@import "./stylesheets/constants.scss";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.root {
  @include flex-column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .page-container {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 100%;

    .page-content {
      @include flex-column;
      justify-content: center;
      align-items: center;
    }
  }
}

.map-layout {
  @include flex-row;
}

.chart-layout {
  @include flex-column;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .map-layout {
    @include flex-column;
  }
}
