body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  background: #495D77;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 10px;
  left: 10px;
  -webkit-box-shadow: 0px 4px 14px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 14px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 14px -3px rgba(0,0,0,0.75);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
}

.page-title {
  color: #FFFFFF;
  font: 700 28px 'HelveticaNeue', 'Helvetica', sans-serif;
  padding-left: 10px;
  position: absolute;
  top: 10px
}

.map-container {
  top: 7%;
  position: absolute;
  left: 0;
	width: 70%;
	display: inline-block;
}

.map-container svg {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
}

.states {
	stroke: #fff;
  stroke-width: 0.5px;
}

.map-description-container {
	width: 30%;
	height: auto;
	right: 0px;
	top: 20%;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.map-description-container > .inset-header {
	color: #000000;
	font: 700 28px 'Khula', sans-serif;
	display: block;
	background: none;
	box-shadow: none;
	overflow: visible;
	white-space: normal;
	flex: 0 1 auto;
	order: 1;
}

.map-description-container > .text {
	color: #000000;
	font: 12px 'HelveticaNeue', 'Helvetica', sans-serif;
	display: block;
	flex: 0 1 auto;
	order: 1;
}
