@import '../../../stylesheets/constants.scss';

.map-container {
    @include flex-column;
    flex: 0 0 auto;
    justify-content: center;
    width: 70%;

    .map {
        overflow: visible;

        .state-container {

            &:hover {

                .states.raw {
                    opacity: 0.5;
                }
            }

        }

        .states {
            stroke: #FFFFFF;
            stroke-width: 0.25px;

            &:hover {
                fill-opacity: 0.75;
            }
        }

        .state-label {
            @include font-size($label-font-sizes);
            font-family: $helvetica;
            cursor: default;
        }
    }
}

@for $i from 0 through 50 {

    .state-transition-#{$i}-appear,
    .state-transition-#{$i}-enter {
        fill-opacity: 0.01;
    }

    .state-transition-#{$i}-leave {
        fill-opacity: 1;
    }
    
    .state-transition-#{$i}-appear.state-transition-#{$i}-appear-active,
    .state-transition-#{$i}-enter.state-transition-#{$i}-enter-active  {
        fill-opacity: 1;
        transition: fill-opacity $i * 50ms ease-in 100ms;
    }

    .state-transition-#{$i}-leave.state-transition-#{$i}-leave-active {
        fill-opacity: 0.01;
        transition: fill-opacity $i * 50ms ease-in 100ms;
    }
}

.legend-title {
    font: 700 12px $helvetica;
}

.legend-label {
    font: 10px $helvetica;
}
  